@charset "UTF-8";

@font-face {
    font-family: Outfit;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Young Serif";
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: "Young Serif";
}

body {
    background-color: #F2E4D8;
    font-family: Outfit, sans-serif;
}

main {
    background-color: white;
    margin: 90px;
    padding: 50px;
    border-radius: 30px;
}

main ul {
    line-height: 30px;
    list-style-position: inside;
    padding: 0px 5px;
}

main ol {
    line-height: 30px;
    list-style-position: inside;
    padding: 0px 5px;
}

main  ol {
    padding-left: 20px;
}

ol > li {
    padding-left: 10px;
}

img {
    width: 100%;

    border-radius: 20px;
}
.receita {
    margin-top: 30px;
    margin-bottom: 25px;

    font-size: 40px ;
}
.descricao {
    margin-bottom: px;
}
.titulo {
    margin-top: 30px;
    margin-bottom: 25px
}
.subtitulo {
    color:  hsl(14, 45%, 36%);
}
.tempo {
    background-color:   hsl(330, 100%, 98%);
    
    margin-top: 40px;
    padding: 30px;
}

.preparacao {
    color: hsl(332, 51%, 32%);
    font-family: Outfit;
    padding-bottom: 10px;
}